#partnersgrid-block-root
    .partner-container
        display: flex
        flex-wrap: wrap

        .partner-img
            position: relative
            flex-direction: column
            display: flex
            justify-content: center
            align-items: center
            width: 16.66%
            height: 200px
            .card__image
                max-height: 150px
                opacity: 0.7
                width: auto
                max-width: 180px
                transition: all .3s ease-in-out
                &:hover
                    opacity: 1
                    cursor: pointer
                    transform: scale(1.2)

        .reseau
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 16.66%
            height: 200px
            .reseau-img
                max-height: 150px
                opacity: 0.7
                width: auto
                max-width: 150px
                transition: all .3s ease-in-out
                &:hover
                    opacity: 1
                    cursor: pointer
                    transform: scale(1.2)
                    + .icon-plus
                        cursor: pointer
                        transform: scale(1.2)
                &.active-reseau
                    opacity: 1
                    transform: scale(1.2)
                    ~ .reseau-items
                        display: flex
            .icon-plus
                z-index: 1
                margin-left: 100px 
                padding-bottom: 120px
                width: 20px
                position: absolute
                transition: all .3s ease-in-out
                &:hover
                    cursor: pointer
                    transform: scale(1.2)
                &.icon-active-reseau
                    display: none
                    ~ .reseau-items
                        max-width: max-content
                        position: absolute
                        background-color: white
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
                        display: flex
                        flex-wrap: wrap
                        left: 0
                        right: 0
                        z-index: 1
                        margin: 350px auto 0 auto
                        > .partner-img
                            width: auto
                            height: 150px
                            padding: 0 25px 0 25px
                            .card__image
                                max-width: 150px
            .reseau-items
                display: none


@media screen and (max-width: 1400px)
    .partner-img
        width: calc(20%) !important
        .card__image
            max-width: 150px !important
    .reseau
        width: 20% !important
        .reseau-img
            max-width: 150px !important
        .reseau-items
            margin: 450px auto 0 auto !important
            .card__image
                max-width: 150px !important

@media screen and (max-width: 992px)
    .partner-img
        width: calc(25%) !important
    .reseau
        width: 25% !important
        .reseau-items
            margin: 450px auto 0 auto !important

@media screen and (max-width: 780px)
    .partner-img
        width: calc(33%) !important
        height: 180px !important
    .reseau
        width: 33% !important
        height: 180px !important
        .reseau-items
            margin: 500px auto 0 auto !important

@media screen and (max-width: 550px)
    .partner-img
        width: calc(50%) !important
        height: 180px !important
    .reseau
        width: 50% !important
        height: 180px !important
        .reseau-items
            margin: 500px auto 0 auto !important
            .partner-img
                width: 50% !important
                .card__image
                    max-width: 100px !important      

@media screen and (max-width: 380px)
    .partner-img
        width: calc(100%) !important
        height: 180px !important
    .reseau
        width: 100% !important
        height: 180px !important
        .reseau-items
            margin: 500px auto 0 auto !important