$image-container-height: 150px
$image-height: 100px
$image-max-width: 150px

#partnersgrid-block-root
    .partner-container
        display: flex
        flex-wrap: wrap

        .partner-img
            position: relative
            flex-direction: column
            display: flex
            justify-content: center
            align-items: center
            width: 16.66%
            height: $image-container-height
            .card__image
                max-height: $image-height
                width: auto
                max-width: $image-max-width
                transition: all .3s ease-in-out
                &:hover
                    cursor: pointer
                    transform: scale(1.2)

        .reseau
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 16.66%
            height: $image-container-height
            .reseau-img
                max-height: $image-height
                width: auto
                max-width: $image-max-width
                transition: all .3s ease-in-out
                &:hover
                    cursor: pointer
                    transform: scale(1.2)
                    + .icon-plus
                        cursor: pointer
                        transform: scale(1.2)
                &.active-reseau
                    transform: scale(1.2)
                    ~ .reseau-items
                        display: flex
            .icon-plus
                position: absolute
                z-index: 1
                margin-left: 140px
                margin-bottom: 120px
                width: 24px
                height: 24px
                padding: 2px
                border-radius: 3px
                background-color: #369bd1
                transition: all .3s ease-in-out
                path
                    fill: #FFFFFF
                &:hover
                    cursor: pointer
                    transform: scale(1.2)
                &.icon-active-reseau
                    display: none
                    ~ .reseau-items
                        max-width: max-content
                        position: absolute
                        background-color: white
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
                        display: flex
                        flex-wrap: wrap
                        left: 0
                        right: 0
                        z-index: 1
                        margin: 350px auto 0 auto
                        > .partner-img
                            width: auto
                            height: 150px
                            padding: 0 25px 0 25px
                            .card__image
                                max-width: 150px
            .reseau-items
                display: none

@media screen and (max-width: 1400px)
    .partner-img
        width: calc(20%) !important
        .card__image
            max-width: 150px !important
    .reseau
        width: 20% !important
        .reseau-img
            max-width: 150px !important
        .reseau-items
            margin: 450px auto 0 auto !important
            .card__image
                max-width: 150px !important

@media screen and (max-width: 992px)
    .partner-img
        width: calc(25%) !important
    .reseau
        width: 25% !important
        .reseau-items
            margin: 450px auto 0 auto !important

@media screen and (max-width: 780px)
    .partner-img
        width: calc(33%) !important
        height: 180px !important
    .reseau
        width: 33% !important
        height: 180px !important
        .reseau-items
            margin: 500px auto 0 auto !important

@media screen and (max-width: 550px)
    .partner-img
        width: calc(50%) !important
        height: 180px !important
    .reseau
        width: 50% !important
        height: 180px !important
        .reseau-items
            margin: 500px auto 0 auto !important
            .partner-img
                width: 50% !important
                .card__image
                    max-width: 100px !important

@media screen and (max-width: 380px)
    .partner-img
        width: calc(100% / 3) !important
        height: 80px !important
        padding: 7px
        a
            display: inline-block !important
            width: 100% !important
            .card__image
                max-height: 80px !important
                display: inline-block !important
                width: 100% !important
    .reseau
        width: calc(100% / 3) !important
        height: 80px !important
        padding: 7px
        .card__image
            max-height: 80px !important
            display: inline-block !important
            width: 100% !important
        .reseau-items
            display: none
        .icon-plus
            display: none
